@font-face {
    font-family: 'opensans';
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'opensans-light';
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'fontin-sans';
    src: url(../fonts/Fontin_Sans_R_45b.otf);
}
@font-face {
    font-family: 'locksmith';
    src: url(../fonts/LockSmith_reg.otf);
}

* {
    font-family: opensans;
}
html, body {
    width: 100%;
    height: 100%;
}
nav.navbar {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.intro-wrapper {
    position: relative !important;
    height: 100vh;
}
.parallax {
    background-size: cover !important;
    background-position: center 0px;
}
.carousel-wrapper {
    position: relative !important;
    height: 100vh;
}
.carousel-item {
    background-size: cover !important;
    height: 100%;
}
.intro-caption-wrapper {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
}
.fixed-carousel {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.has-feedback {
    position: relative;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.has-feedback .form-control-feedback + input.form-control {
    padding-left: 34px;
}
.hr-style {
    border: 0;
    height: 1px;
    width: 250px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.btn-circle-lg {
  width: 150px;
  height: 150px;
  line-height: 2.00;
  border-radius: 100px;
  font-size: 60px;
}
.btn-circle-sm {
  width: 60px;
  height: 60px;
  line-height: 1.00;
  border-radius: 100px;
  font-size: 28px;
}
.btn-circle-xs {
  width: 40px;
  height: 40px;
  line-height: 1.30;
  border-radius: 100px;
  font-size: 17px;
}
.book-card-image {
    background-size: cover !important;
    height: 200px;
    background-position: center center !important;
}
.book-card-image-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .3s;
    z-index: 3;
}
.single-book-image {
    background-size: cover !important;
    background-position: center center;
}
.single-book-image img {
    visibility: hidden;
    width: 100%;
}
.btn:hover {
    cursor: pointer;
}
.btn-iba {
    background-color: rgba(3,169,244 ,1);
    color: white;
}
.btn-iba:hover {
    background-color: rgba(2,136,209 ,1);
    color: white;
}
.btn-outline-iba {
    border-color: rgba(3,169,244 ,1);
    background-color: transparent;
    color: rgba(3,169,244 ,1);
    transition: .2s;
}
.btn-outline-iba:hover {
    background-color: rgba(3,169,244 ,1);
    color: white;
}
.btn-outline-light:hover {
    color: rgba(3,169,244 ,1) !important;
}
.book-card-image-overlay:hover {
    opacity: 1;
}
.bg-iba {
    background-color: rgba(3,169,244 ,1);
}
.text-iba {
    color: rgba(3,169,244 ,1);
}
.text-iba:hover {
    color: rgba(3,169,244 ,1);
}
.border-iba {
    border: 1px solid rgba(3,169,244 ,1);
}
.img-shopping-list {
    width: 80px;
}
.quantity-input {
    width: 25%;
    min-width: 130px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
